.hidden {
  display: none;
}
.form {
  margin: 0 auto;
  width: 600px;
  height: 200px;
  padding: 50px;
  background-color: antiquewhite;
}

#dialog {
  background-color: white;
  width: 400px;
  height: 60px;
  z-index: 1;
  margin-top: 20px;
}